In [1]:
# experimental: you can run this cell to see your code full-width
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
#  run this cell without changing it. It only works on Noteable.
! printf "\n\nLink below can be send to someone to share your Noteable session:\n\nhttps://noteable.edina.ac.uk/user/$(jupyter notebook list | grep -oP '(?<=user\/).*(?=\/\?)' )/tree?token=$( jupyter notebook list | grep -oP '(?<=token=).*(?= ::)' )\n\n"

Link below can be send to someone to share your Noteable session:

https://noteable.edina.ac.uk/user/3hg6fdvjsmjm4xveommxct/tree?token=6KK0v-9qQ1i26zW98S2Knw

# Lab for badges 1-3 - in pairs: write code that solves given challanges

In the future badges you will learn about functions and tests, which will do some of this work for you, but for today, try to solve below challanges as they are.

Your task will always be to write some code in the `# TODO: do something here`. Feel free to change values in `inputs` to see if your code can handle multiple scenarios.


### Top Tip:

In this lab you will be using two coding concepts:

- code for comparing things, so `< <= > >= == !=` which creates `True` or `False` result
- and code for combining True/False results `and or not`

### Helpful keyboard shortcuts:

**Shift + Enter** (run cell and move to next one)

**double-click word** (select word)

**tripple-click word** (select line)

**Shift + move around with arrows** (select many lines or text)

**Tab** (autocomplete of variable or function names. They had to be used at least once for this to work)

**ctrl/cmd + z** (undo)

**ctrl/cmd + ?** (comment out current line, or currently celected lines)

**ctrl/cmd + [** (move selected lines left) 

**ctrl/cmd + ]** (move selected lines right)

### Starting example (done for you)

In [5]:
# which number is larger?

# inputs
n1 = 20
n2 = 20
result = "banana"

# TODO: do something here
if n1 > n2:
    result = n1
else:
    result = n2
# eg. (for inputs 3 and 7, expect 7)
print(result)

# now that you see it working, change inputs, does it still work? 
# how about these: 7 and 8, or 9 and 9, or 0 and -8?

20

### Task 0: Are numbers the same?

In [10]:
# are numbers the same?

# inputs
n1 = 7
n2 = 70
result = "banana" 

# TODO: do something here
if n1 == n2:
    result = True
else:
    result = False

# result 
# eg. (for inputs 3 and 3, expect True)
# eg. (for inputs 3 and 7, expect False)
print(result)

# now that you see it working, change inputs, does it still work? 
# how about these: 7 and 8, or 9 and 9, or 0 and -8?

False

In [7]:
3 == 3

True

### Task 1:  Largest out of 3

In [18]:
# inputs
n1 = 30
n2 = 30
n3 = 7

result = "banana"

if n1 >= n2 and n1 >= n3:
    result = n1
elif n2 >= n1 and n2 >= n3:
    result = n2
else:
    result = n3
# result 
# eg. for 3,7,4 expect 7
print(result)

# whern you change inputs, does it still work?

30

### Task 2: Are numbers in order?

In [21]:
# This one is tricky, unless you discuss it first: 
# what does it mean that three numbers are in order? Think about examples!

# inputs
n1 = 3
n2 = 4
n3 = 4
result = "banana"

# TODO: do something here
if n1 <= n2 and n2 <= n3:
    result = True
else:
    result = False
    
# or
result = True if n1 <= n2 and n2 <= n3 else False
# or
result = n1 <= n2 and n2 <= n3

# result 
# eg. for 3,7,4 expect False
# eg. for 3,4,8 expect True
# eg. for 3,4,4 expect True
print(result)

# whern you change inputs, does it still work?

True

False

### Task 3:  Largest out of 4

In [ ]:
# inputs
n1 = 1
n2 = 4
n3 = 3
n4 = 9
result = "banana"

if n1 >= n2 and n1 >= n3 and n2 >= n4:
    result = n1
elif n2 >= n1 and n2 >= n3 and n2 >= n4:
    result = n2
elif n3 >= n1 and n3 >= n2 and n3 >= n4:
    result = n3
else:
    result = n4
    
# or

# result 
# eg. for 3,7,4,9 expect 9
# eg. for 10,7,4,9 expect 10
print(result)

In [52]:
# largest number using the 'current winner' method
n1 = 1
n2 = 4
n3 = 3
n4 = 9
result = "banana"

largest_so_far = n1
if n2 > largest_so_far:
    largest_so_far = n2
if n3 > largest_so_far:
    largest_so_far = n3
if n4 > largest_so_far:
    largest_so_far = n4

result = largest_so_far
print(result)

9

### Task 4:  5 in order

In [38]:
# inputs
n1 = 2
n2 = 3
n3 = 4
n4 = 9
n5 = 10
result = "banana"

if n1 <= n2 and n2 <= n3 and n3 <= n4 and n4 <= n5:
    result = True
else:
    result = False
# result 
# eg. for 3,7,4,9,10 expect False
# eg. for 3,7,8,9,10 expect True
# eg. for 3,7,7,9,10 expect True
print(result)

# whern you change inputs, does it still work?

False

### Task 5:  6 in order and different from each other

In [46]:
# inputs
n1 = 2
n2 = 3
n3 = 40
n4 = 6
n5 = 9
n6 = 10
result = "banana"

if n1 < n2 and n2 < n3 and n3 < n4 and n4 < n5 and n5 < n6:
    result = True
else:
    result = False

print(result)
# whern you change inputs, does it still work?

False

### Task 6 : are 4 numbers all different from each other

In [48]:
# inputs
n1 = 10
n2 = 6
n3 = 7
n4 = 9

result = "banana"

if (n1 != n2 and n1 != n3 and n1 != n4) and (n2 != n3 and n2 != n4) and (n3 != n4):
    result = True
else:
    result = False

#    or
restult = (n1 != n2 and n1 != n3 and n1 != n4) and (n2 != n3 and n2 != n4) and (n3 != n4):

    
# result 
# eg. for 8,7,4,9 expect True
# eg. for 8,1,2,9 expect True
# eg. for 3,7,7,9 expect False
print(result)

# whern you change inputs, does it still work?

True

### Task 7:  Second Largest out of 3 (as if you ordered them, and took the second largest)

This exercise can take a very long time. You need to time-box it, that is: decide to take maximum 10 minutes doing it. If it is not solved in 10 minutes, move to the next exercise!

In [57]:
# inputs
n1 = 4
n2 = 5
n3 = 6
second_largest = "banana"
if n1 >= n2 and n1 >= n3:
    # I know n1 is the largest
    if n2 > n3:
        second_largest = n2
    else:
        second_largest = n3
elif n2 >= n1 and n2 >= n3:
    # I know n2 is the largest
    if n1 > n3:
        second_largest = n1
    else:
        second_largest = n3
else:
    # I know n3 is the largest
    if n1 > n2:
        second_largest = n1
    else:
        second_largest = n2

print(second_largest)

4

### Task 8:  Implement a sentence

In [ ]:
# scenario: I go for walks only if it is not raining.
# On weekends, I only go between 9 and 15 hour. 
# But on week days I go between 7 and 21 hour.
# Should I go for a walk? Make result True, or False
rain = False
day = "Saturday"
time = 9
result = "banana" 
is_day_weekend = (day == "Saturday" or day == "Sunday")

if rain == True:
    result = False
elif is_day_weekend and (time >= 9 and time <= 15):
    result = True
elif (not is_day_weekend) and (time >= 7 and time <= 21):
    result = True
else:
    result = False
    
print(result)

In [68]:
# decision tree approach. easier to make a mistake, but easier to write also
rain = False
day = "Saturday"
time = 9
result = "banana" 
is_day_weekend = (day == "Saturday" or day == "Sunday")

if rain == True:
    result = False
else:
    if is_day_weekend:
        if (time >= 9 and time <= 15):
            result = True
        else: 
            result = False
    else:
        if (time >= 7 and time <= 21):
            result = True
        else: 
            result = False
    
print(result)

True

### Task 9+ It's  Up to you

Write your own 'sentence' scenario with your partner, and code it. For example think about decisions in everyday life: crossing the road, making tea, leaving house. What are variables? (colour of the light? do I have milk? is it raining?). What are decisions you're taking based on those variables?

In [ ]:
# Write your code here