In [ ]:
# experimental: you can run this cell to see your code full-width
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
#  run this cell without changing it. It only works on Noteable.
! printf "\n\nLink below can be send to someone to share your Noteable session:\n\nhttps://noteable.edina.ac.uk/user/$(jupyter notebook list | grep -oP '(?<=user\/).*(?=\/\?)' )/tree?token=$( jupyter notebook list | grep -oP '(?<=token=).*(?= ::)' )\n\n"

# Lab for badges 7-9

This badge has two sections: 

1. Solve some simple tasks using list comprehensions
2. Build a live 'bus tracker' using a bus data API https://pbs.twimg.com/media/Dape3PaXcAAyYCl.jpg

## Part 1: Small tasks

In [ ]:
# given this data, try to answer below challanges. hint: use List comprehensions. 
# remember that often you you need to split the task into smaller chunks 

cities_uk = [{'Geo': {'AreaKm2': 1572,
                      'Coordinates': {'Latitude': 51.51, 'Longitude': -0.13}},
          'Name': 'London',
          'Population': 8908081,
          'Year_Founded': 47},
         {'Geo': {'AreaKm2': 267.77,
                  'Coordinates': {'Latitude': 52.48, 'Longitude': -1.9}},
          'Name': 'Birmingham',
          'Population': 1137100,
          'Year_Founded': 601},
         {'Geo': {'AreaKm2': 551.7,
                  'Coordinates': {'Latitude': 53.8, 'Longitude': -1.55}},
          'Name': 'Leeds',
          'Population': 789194,
          'Year_Founded': 1893},
         {'Geo': {'AreaKm2': 3298,
                  'Coordinates': {'Latitude': 55.86, 'Longitude': -4.25}},
          'Name': 'Glasgow',
          'Population': 635640,
          'Year_Founded': 1454},
         {'Geo': {'AreaKm2': 142.06,
                  'Coordinates': {'Latitude': 53.38, 'Longitude': -1.47}},
          'Name': 'Sheffield',
          'Population': 577800,
          'Year_Founded': 701},
         {'Geo': {'AreaKm2': 110,
                  'Coordinates': {'Latitude': 51.45, 'Longitude': -2.58}},
          'Name': 'Bristol',
          'Population': 567111,
          'Year_Founded': 1155},
         {'Geo': {'AreaKm2': 115.6,
                  'Coordinates': {'Latitude': 53.47, 'Longitude': -2.23}},
          'Name': 'Manchester',
          'Population': 547627,
          'Year_Founded': 1301},
         {'Geo': {'AreaKm2': 111.84,
                  'Coordinates': {'Latitude': 53.41, 'Longitude': -2.99}},
          'Name': 'Liverpool',
          'Population': 513441,
          'Year_Founded': 1207},
         {'Geo': {'AreaKm2': 259,
                  'Coordinates': {'Latitude': 55.95, 'Longitude': -3.2}},
          'Name': 'Edinburgh',
          'Population': 488050,
          'Year_Founded': 601}]

cities_scotland = [
         {'Geo': {'AreaKm2': 3298,
                  'Coordinates': {'Latitude': 55.86, 'Longitude': -4.25}},
          'Name': 'Glasgow',
          'Population': 635640,
          'Year_Founded': 1454},
         {'Geo': {'AreaKm2': 259,
                  'Coordinates': {'Latitude': 55.95, 'Longitude': -3.2}},
          'Name': 'Edinburgh',
          'Population': 488050,
          'Year_Founded': 601}]

# Tasks Group 1:

In [ ]:
def number_of_cities(some_cities):
    return "banana" # here write your solution

print(number_of_cities(cities_uk)) # see it work

In [ ]:
assert number_of_cities(cities_scotland) == 2
assert number_of_cities(cities_uk) == 9
print("tests passed")

In [ ]:
def cities_starting_with_letter(some_cities, first_letter):
    return "banana" # here write your solution

print(cities_starting_with_letter(cities_uk, "B")) # see it work

In [ ]:
assert cities_starting_with_letter(cities_uk, "L") == ['London', 'Leeds', 'Liverpool']
assert cities_starting_with_letter(cities_uk, "B") == ['Birmingham', 'Bristol']
assert cities_starting_with_letter(cities_scotland, "L") == []
assert cities_starting_with_letter([], "L") == []
print("tests passed")

In [ ]:

def number_of_cities_north_of(some_cities, latitude):  
    return "banana" # here write your solution

print(number_of_cities_north_of(cities_uk, 53.0)) # see it work

In [ ]:
assert number_of_cities_north_of(cities_uk, 55.0) == 2
assert number_of_cities_north_of(cities_uk, 53.0) == 6
assert number_of_cities_north_of(cities_scotland, 55.0) == 2
print("tests passed")
# for simplicity let's assume everythong north of Gretna Green is in Scotland(Latitude being larger than 55.00) ;)

In [ ]:
def percent_of_cities_north_of(some_cities, latitude): 
    return "banana" # here write your solution. 

# round the result before returning it
print(percent_of_cities_north_of(cities_uk, 55.0)) # see it work

In [ ]:

assert percent_of_cities_north_of(cities_uk, 55.0) == 22
assert percent_of_cities_north_of(cities_uk, 53.0) == 67
assert percent_of_cities_north_of(cities_scotland, 55.0) == 100
print("tests passed")

In [ ]:
def year_founded_of_large_cities(some_cities, minimum_population): 
    return "banana" # here write your solution. 

print(year_founded_of_large_cities(cities_uk, 1500000)) # see it work

In [ ]:
assert year_founded_of_large_cities(cities_uk, 1500000) == 1
assert year_founded_of_large_cities(cities_uk, 1000000) == 2
assert year_founded_of_large_cities(cities_uk, 500000) == 8
assert year_founded_of_large_cities(cities_scotland, 500000) == 1
print("tests passed")

# ‚õè Edinburgh Lothian Busses Timetable

Below is the API of Lothian Busses, Edinburgh's local bus company. We'd like you to try to understand that data, and then print it in a meaningful way.

Some functions are given below which will give you access to a **list of dictionaries**. Each item in a list will be info abotu one bus services leaving soon from a particular busstop. We'll look at the busses going to Business School or University of Edinburgh from Leith (northen part of Edinburgh). 

Below you will see:

- the structure of the data,
- some examples
- some task

Use what you learned up until now to extract and style the bus timetable. Here is a photo of how bus timetable looks like when it is displayed on the digital display at the actual busstop: https://pbs.twimg.com/media/Dape3PaXcAAyYCl.jpg

Also this is the link to live api data (remember that pprint in your python code, and jsonviewer extension in your chrome will make it easier to see it in a clear way): https://tfe-opendata.com/api/v1/live_bus_times/36236563

To make above JSON data look MUCH BETTER in your browser. Use this Chrome extension: https://chrome.google.com/webstore/detail/json-viewer/gbmdgpbipfallnflgajpaliibnhdgobh 

Also, here is the official API documentation: https://tfe-opendata.readme.io/docs/live-bus-times

**And here's a tracker that someone has built, which is using exactly the same data you will be looking at**

http://www.mybustracker.co.uk/?module=mobile&mode=2&busStopService=43&busStopDest=2850816&busStopCode=36235975&subBusStop=Display+Departures

or

https://www.lothianbuses.com/live-travel-info/live-bus-times/?stop_id=6200243370

# Demo code to get you started:

In [ ]:
import requests 
import pprint as pp 
from datetime import timedelta, date, datetime 
import pytz # timezones
# you might see a pink warning with 'RequestsDependencyWarning'. Just ignore it for now.

In [ ]:
def get_buses_coming_soon( stop_id): 
    apiurl = f"https://tfe-opendata.com/api/v1/live_bus_times/{stop_id}" 
    print(apiurl)
    response = requests.request("GET", apiurl) 
    all_busses = response.json() 
    return all_busses

`get_buses_coming_soon` gets all routes from one bus stop. 

Result is a List of Dictionaries. Where each dictionary is one route (one bus number eg. 22). Route dictionary has just two keys. What are they?

Brace! this will print a lot of data!
but have a look at the very beginning of it! What is it? List? Of What? List of Dictionaries?

Read below for some hints

In [ ]:
# eg. 36235975 is an id of a bus stop on Proincess Street
# in city center of Edinburgh 
princess_st_stop_id = 36235975
routes = get_buses_coming_soon( princess_st_stop_id )

In [ ]:
pp.pprint(len(routes))

In [ ]:
pp.pprint(routes)

# look at this data first. Try to understand what data type it is. 
# What's most useful is the first character. eg [1,2,3] is a list. {'name': 'Jen'} is a dictionary
# [{'name': 'Jen'}, {'name': 'Pim'} ] is a list of dictionaries

Basically the format is:

**routes** - a List with all the bus routes that use it

..each item in **routes** - a Dictionary describing one route with following keys: **departures**, and **routeName**
    
....**routeName** is just the name of the bus service, eg. '22'
        
....**departures** is a List with Dictionaries, each representing info of one incomming bus.

In [ ]:
# some examples:
# one stop
first_route = routes[0]
pp.pprint(first_route)

In [ ]:
# first bus service's routeName
first_route_name = routes[0]['routeName'] 
print(first_route_name)

In [ ]:
first_route_departures = routes[0]['departures'] 
print(f"First Route has number {first_route_name} and has {len(first_route_departures)} vehicles coming soon")

All departures for this stop (note that this api uses timezones, so we will have to also)
instead of just datetime.now() we will use datetime.now(pytz.timezone('Europe/London'))

In [ ]:
print("next bus of the first route:") 
pp.pprint(routes[0]['departures'][0])

# Task Group 2: Making formatted strings from data

Here are a few tasks to explore the data and list comprehensions:

- Write a function to display all route numbers in `routes` variable. What variables will this function take? Make it return a string
- Write a function to get all bus destinations in one route. Most bus routes go to only one unique destination, but there are routes where every other bus goes to a different destination. This function will take ONE ROUTE (not a list of all routes) and return a string. Say if the function is called destinations( a_route) you would call it like this: destinations( routes[0] )
- write a function which will take one route, and return a timetable for that route as a nicely formatted. Eg: "Number 22 going to Gyle expected at: 12:32, 12:42, 12:52."

- extra: Can you now use a list comprehension so that each of your 'one route' functions above is applied to all of the routes.

If any of these are too hard, don't worry and keep going through the notebook. More explanations coming.

In [ ]:
# you can add more empty cells with the plus icon

## Bonus: Dealing with time and date. This can be tricky, so see how much time you have left and consider skipping to Tasks Group 3

This dataset describes time and date. Usually one needs to prepare such data, eg. adjust time zone.
Then you often need to make the data meaningful eg. say how many hours or minutes ago something was.
Finally there are ways to show data in more human-friendly ways eg. "3rd of September" or "11:23pm". To achieve that you usually perform create 'date objects' from your source data, then turn those date objects into format you'd like.

eg. string `2023-03-09 18:22:24+00:00` can be turned it in into `datetime.datetime object` (which when printed looks very simmilar `2023-03-09 18:22:24+00:00`), but if you check its type, it will not be `string`.

Just like string `"33"` and number `33` look the same when printed. But when you add `1` to them one will result in `34` and one will result in an error, or `133`.

In [ ]:
# a quick refresh of data :) so they are still up to date
princess_st_stop_id = 36235975
routes = get_buses_coming_soon( princess_st_stop_id )
# run this code any time you want to get most up to date times

In [ ]:
# first route, first vehicle
departure_time_from_api = routes[0]['departures'][0]['departureTime']
print(departure_time_from_api)
print(type(departure_time_from_api)) # what type of variable is departure_time_from_api

In [ ]:
# here's a step-by-step process of taking a complex date format into something simpler:

bus_time_object = datetime.fromisoformat(departure_time_from_api) 
print(bus_time_object)
print(type(bus_time_object)) # what type of variable is bus_time_object
# time object

In [ ]:
bus_time_str = bus_time_object.strftime("%H:%M") 
print(bus_time_str)
# object turned back into string, but in the %H:%M string format

Date objects are useful, because you can turn them into strings in the format of yoru choice. Eg. `3rd Sep 2023` or `03-09-23`.

Let's get the time when the bus is due and try some of our newly-learned Date/Time manipulation!

Reference of all the posible date time codes is here: https://docs.python.org/3/library/datetime.html#format-codes

We'll need to find out what time is it right now in Edinburgh. Then subtract bus time from it to see how much more time is left:

In [ ]:
time_now_in_edinburgh = datetime.now(pytz.timezone('Europe/London'))
time_till_bus = bus_time_object - time_now_in_edinburgh 

print(time_till_bus)
print(type(time_till_bus)) # this is object of type datetime.timedelta

print("seconds", time_till_bus.seconds)
print("minutes", time_till_bus.seconds // 60)

# notice that if time_till_bus looks a bit weird (eg. it is -1 day and 23h 57m) it means that the bus has already left.
# we will deal with this below.

In [ ]:
# eg. turn '2023-03-09T18:22:24+00:00' into '18:22'
def date_into_human_form(time_from_api):
    bus_time_object = datetime.fromisoformat(time_from_api) 
    bus_time_str = bus_time_object.strftime("%H:%M") 
    return bus_time_str

print(date_into_human_form('2023-03-09T18:22:24+00:00'))
print(date_into_human_form(departure_time_from_api))

In [ ]:
# eg. if the time is 18:10 turn '2023-03-09T18:22:24+00:00' into 12 (because it is in 12 minutes)

def date_into_minutes_from_now(time_from_api):
    bus_time_object = datetime.fromisoformat(time_from_api)
    time_now = datetime.now(pytz.timezone('Europe/London'))
    
    # depending if bus is in the future, or not, calculate it's arrival differently:    
    if bus_time_object >= time_now:
        #  if now is 12:30 and bus is at 12:34, then it is in 4 minutes      
        time_till = bus_time_object - time_now 
        return time_till.seconds // 60
    else:
        #  if now is 12:30 and bus was at 12:20, then it is in -10 minutes      
        time_till = (time_now - bus_time_object)
        return  time_till.seconds // 60 * -1

print("departure time", departure_time_from_api)
print("minutes from now", date_into_minutes_from_now(departure_time_from_api))

In [ ]:
# let's turn data into something meaningful:
first_route_name = routes[0]['routeName']
first_bus_time = routes[0]['departures'][0]['departureTime']
first_bus_human = date_into_human_form(first_bus_time)
first_bus_in_minutes = date_into_minutes_from_now(first_bus_time)

print(first_route_name)
print( first_bus_time)
print( first_bus_human)
print( first_bus_in_minutes)

In [ ]:
# and let's present it as a string
print(f"Next bus number {first_route_name} is at {first_bus_human:*^13} (in {first_bus_in_minutes:.0f} minutes)")

In [ ]:
# this could be further improved with a function which turns 
# 3 into 'in 3 minutes', 0 to 'DUE' and -10 into '10 minutes ago'
def minutes_to_word(minutes):
    if minutes == 0:
        return "DUE"
    elif minutes < 0:
        return f"{minutes * -1} minutes ago"
    else:
        return f"in {minutes} minutes"

when = minutes_to_word(first_bus_in_minutes)
print(f"Next bus number {first_route_name} is at {bus_time_str:*^13} ({when})")

# Task Group 3:

- Try to use a list comprehension to create a string desctiption (like above) for each departure for the first route. Make the desciption meaningful, and try to use Date/Time information. Remember that the easiest way to do it is by creating a function that takes a departure and turns it into a string, a bit like this:

In [ ]:
# example: show destination of each departure
def where_it_goes(departure):
    # you might want to change this function
    return f"Bus {departure['routeName']} to {departure['destination']} at {departure['displayTime']}" 

def route_into_destinations(route):
    return [
        where_it_goes(departure)
        for departure in route['departures']
    ]

route_into_destinations(routes[0])

## Presenting data in a prettier format: ‚≠êÔ∏è

In [ ]:
# advanced, but fun, for those who like using functions:
# you can try to split your data presentation into stages.
# you could print from your functions, but it's cleaner to return strings and print them outside 

def bus_route_report(route_info):
    return f"üöå {route_info['routeName']:>5} has {len(route_info['departures']):2} buses incomming üí®"

def all_services_as_lines(some_routes):
    return [
         bus_route_report(route)
         for route in some_routes   
    ]

pp.pprint( all_services_as_lines(routes) ) # this will print a list of strings like ['a','b','c']

### bonus code: Connect List to strings, using Enter (new line)

To connect a list of stings into one string, using some delimited/connector:

`"some_delimiter".join(some_list)`

eg.

`":)".join(["banana","kiwi","plum"])`

In [ ]:
fruit = ["banana","kiwi","plum"]
print(" ‚≠êÔ∏è ".join(fruit))
print("**".join(fruit))

In [ ]:
# Applied to our previous data
print( "\n".join(all_services_as_lines(routes) ))
# notice we are not using pp.pprint() because it will try to be 'too helpful'. try it and see the difference

In [ ]:
# or as a pretty function:

def all_services_formatted(some_routes):
    return "\n".join(all_services_as_lines(some_routes))

print(all_services_formatted(routes))

# If you still have time: Try to recreate ANYTHING SIMMILAR to the bus tracker in the picture: https://pbs.twimg.com/media/Dape3PaXcAAyYCl.jpg

Do not worry about the details, Or making it exactly like this - just try to get something working and try to make it look like nice. Try to play with it, and try to use as many skills you learned during this badge as you can.



We already wrote for you some the code to get the busses comming to Business School from Leith.
You just need to format the results, so they look prettier :)
this is the method to get the next busses. No need to change it.


for example:

```
Next busses nr 17 are coming in 5,25,55 minutes
Next busses nr 21 are coming in 15,45 minutes
Next busses nr 44 are coming in 2,42 minutes
```

or even:

```
Services leaving from this busstop: 17,21,44
```